{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Chat</h1>
    <hr>

    <div class="row">
        <div class="col-md-8">
            <div class="list-group" id="message-list" style="height: 400px; overflow-y: scroll;">

                {% for message in messages %}
                {% if message[1] == current_user.username %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start active">
                {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                {% endif %}
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ message[2] }}</h5>
                    </div>
                    <p class="mb-1" style="margin-left: 30px;">{{ message[0] }}</p>
            <script>
              const messageListDiv = document.getElementById("message-list");
              messageListDiv.scrollTop = messageListDiv.scrollHeight;
            </script>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" id="send-message" value="Отправить">
            </form>
        </div>
    </div>

    </div>

<script>
  function checkForUpdates() {
  const xhr = new XMLHttpRequest();
  xhr.open('GET', '/get_message'); // отправляем запрос на сервер

  xhr.onload = function() {
    if (xhr.status === 200) { // если ответ от сервера успешный
      const response = JSON.parse(xhr.responseText);
      if (response.messages) { // если в ответе есть ссылка для перенаправления
        const divElement = document.getElementById('message-list');
        divElement.innerHTML += response.messages;


      }
    }
  };

  xhr.send(); // отправляем запрос на сервер
}

setInterval(checkForUpdates, 5000); // повторяем запрос каждые 5 секунд

</script>

{% endblock %}